<mat-toolbar>
  <div class="header">
    <button mat-icon-button color="accent" (click)="drawer.toggle()">
      <mat-icon class="headerIcon">menu</mat-icon>
    </button>
    <span class="app-name">Kanban</span>
  </div>
</mat-toolbar>

<!-- src="https://i.pinimg.com/474x/f0/94/f9/f094f9bf1ff86bdb51cea95aae0551f6.jpg" -->

<mat-drawer-container class="navbar" [hasBackdrop]="true">
  <mat-drawer #drawer mode="side">
    <img
      class="avatar mat-elevation-z8"
      alt="profile picture"
      src="https://i.pinimg.com/236x/b9/b7/8f/b9b78feef136d29fc6ac7cffc12bc991.jpg"
    />

    <h4 class="name">Profile Name</h4>
    <p class="jobTitle">Software Engineer</p>

    <mat-divider></mat-divider>
    <button mat-button routerLink="" class="menu-button">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button routerLink="/about" class="menu-button">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>
  </mat-drawer>
  <mat-drawer-content class="main">
    <div class="root">
      <app-kanban-board class="root-item"></app-kanban-board>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
