.navbar {
  height: calc(100vh - 64px);
}

.mat-drawer {
  margin: 1rem;
  padding: 1rem;
  width: 200px;
  border-right: none;
  border-radius: 10px;
  background-color: #d8e2dc;
  color: #001219;
  text-align: center;
}

.avatar {
  margin-top: 1em;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  font-size: 1.4em;
  margin-top: 0.5em;
  font-weight: bold;
}

.jobTitle {
  margin-top: 0.2em;
  font-size: 1em;
  font-weight: bold;
  background: -webkit-linear-gradient(#ee9ae5, #5961f9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1em;

  mat-icon {
    margin-right: 0.5em;
  }
}

.mat-divider {
  margin: 1em auto;
}

.mat-drawer-container {
  background-color: transparent;
}

.mat-toolbar {
  background-color: #4c63fb;
  color: white;
}

.app-name {
  font-size: 2rem;
  font-weight: bold;
}

.header {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  .headerIcon {
    font-size: 2rem;
    color: white;
    margin-right: 1em;
  }
}

.root {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px);

  .root-item {
    @extend .root;
  }
}
