/* You can add global styles to this file, and also import other style files */
@import 'colours.scss';
@import '~@angular/material/theming';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
}

html {
  background-color: $tertiary;
  overflow-y: auto;
  overflow-x: hidden;
}

// Material Config
.mat-dialog-container {
  color: $secondary;
  background-color: $primary;
}

$custom-typography: mat-typography-config(
  $font-family: 'Montserrat',
);

@include angular-material-typography($custom-typography);
